.subtitle {
    margin-bottom: 32px;

    font-weight: 700;
    font-size: 40px;
    line-height: 1.18;

    letter-spacing: 0.025em;
    color: var(--accent-color);

    
    &--right-align {
            text-align: right;
        }
}

