.title {
    margin-bottom: 104px;

    margin-bottom: 104px;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}