/* Nav */
.nav{

    &__list {
        display: inline-flex;
        justify-content: center;
        gap: 36px;
    }

    &__link {
        padding: 18px 0px 8px 0px;
        /* padding: 8px 0px 8px 0px; */
        letter-spacing: 0.055em;
        text-transform: uppercase;
        color: var(--primary-text-color);
        transition: var(--transition-color);
    }

    &__link:hover,
    &__link:focus,
    &__link-current {
        color: var(--accent-color);
    }

    &__link-current::after {
        content: "";
        display: block;
        margin-top: 4px;
        width: 100%;
        height: 0.5px;
        border-radius: 4px;

        background-color: var(--accent-color);
    }
}
